.header {
    padding-block: .5rem;
    background-color: var(--color-background-neutral-default);
    font-size: 1.125rem;
    border-block-end: 1px solid var(--color-border-neutral-subtle);
}

.header__inner {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    justify-content: space-between;
}

.header__logo {
    font-size: 1.125rem;
    font-weight: 600;
    text-decoration: none;
}

.header__menu-toggle {
    display: flex;
    font-size: .875rem;
    align-items: center;
    padding-block: .375rem;
    padding-inline: .5rem;
    border-radius: .25rem;
    background-color: var(--color-white-12);
    column-gap: .25rem;

    svg {
        font-size: 1.25rem;
    }
}