/* stylelint-disable selector-max-type */
*,
*::before,
*::after {
   box-sizing: border-box;
}

* {
   margin: 0;
}

body {
   line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
   display: block;
   max-width: 100%;
}

input,
textarea,
select {
   font: inherit;
}

button {
   padding: 0;
   border-radius: 0;
   font: inherit;
   color: inherit;
   background-color: transparent;
   cursor: pointer;
   touch-action: manipulation;
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
   border: 0;
}

a {
   color: inherit;
   text-decoration: none;
}
/* stylelint-enable selector-max-type */