:root {
    --space-2: .125rem;
    --space-4: .25rem;
    --space-6: .375rem;
    --space-8: .5rem;
    --space-12: .75rem;
    --space-16: 1rem;
    --space-20: 1.25rem;
    --space-24: 1.5rem;
    --space-32: 2rem;
    --space-40: 2.5rem;
    --space-48: 3rem;
    --space-64: 4rem;
    --space-96: 6rem;
}