.counter {
    display: grid;
    grid-template-columns: min-content 10ch min-content;
    column-gap: .25rem;
}

.counter__button {
    aspect-ratio: 1;
    border-radius: .25rem;
    width: 3.5rem;
    color: var(--color-button-text-primary);
    background-color: var(--color-button-background-primary);
    border: 0;
    font-size: 1.5rem;
    transform-origin: center center;
    transition: scale .15s ease;
    user-select: none;

    &:active {
        transition: scale .15s ease;
        scale: .75;
    }
}

.counter__input {
    font-size: 1.25rem;
    border-radius: .25rem;
    border: 0;
    text-align: center;
    font-family: var(--ff-mono), monospace;
}

.counter__picker {
    position: fixed;
    inset: .5rem;
    inset-block-start: 20dvh;
    inset-block-end: 10dvh;
    overflow-y: auto;
    flex-direction: column;
    row-gap: .25rem;
    z-index: 1000;
    background-color: var(--color-background-neutral-default);
    padding: .5rem;
    border-radius: .5rem;
    display: none;
    box-shadow: 0 0 0 100vmax rgba(0 0 0 / .2);
    font-family: var(--ff-mono), monospace;

    &[data-open="true"] {
        display: flex;
    }

    h2 {
        background-color: var(--color-background-neutral-default);
        position: sticky;
        width: 100%;
        top: -.5rem;
        font-size: 1rem;
        font-weight: 500;
        padding-block: .5rem;
        text-align: center;
    }

    button {
        border-radius: .25rem;
        border: 0;
        padding-block: 1rem;
        background-color: var(--color-background-neutral-subtle);
    }
}