.empty-state {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.empty-state__icon {
    border-radius: .25rem;
    width: 4rem;
    height: 4rem;
    display: grid;
    place-items: center;
    font-size: 2rem;
    background-color: var(--color-white-6);
}

.empty-state__icon + .empty-state__header {
    margin-block-start: 2rem;
}

.empty-state__header {
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
    text-align: center;
}

.empty-state__title {
    font-size: 1.5rem;
    line-height: 1.25;
}

.empty-state__description {
    color: var(--color-text-neutral-subtle);
    font-size: 1.125rem;
}

.empty-state__content {
    margin-block-start: 1.5rem;
    display: flex;
    column-gap: 1rem;
    row-gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
}